header {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
  align-items: center;

  img {
    width: 100px;
  }

  .contact {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    a {
      align-content: center;
    }

    .linkedin {
      background: none;
      padding: 0;
    }

    img {
      max-width: 45px;
      max-height: 45px;
    }
  }
}

.error {
  font-size: 60px;
  max-width: 1200px;
  margin: auto;
  padding: 0 50px;
  text-align: center;
}

.category {
  padding: 35px 0;

  &:nth-child(odd) {
    text-align: right;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-top: 20px;
}