@use 'variables.scss';

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 0 20px;
  align-items: center;
  background-color: variables.$color_fond;
  z-index: 1000;

  img {
    width: 100px;
  }

  .contact {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    a {
      align-content: center;
    }

    .linkedin {
      background: none;
      padding: 0;
    }

    img {
      max-width: 45px;
      max-height: 45px;
    }
  }

  @media (max-width: 375px) {
    img {
      width: 75px;
    }

    .contact {
      gap: 10px;

      a:last-child {
        height: 100%;
      }
    }
  }
}

.error {
  font-size: 60px;
  max-width: 1200px;
  margin: auto;
  padding: 0 50px;
  text-align: center;
  margin-top: 200px;
}

.category {
  padding: 35px 0;

  .texte {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    p {
      margin-right: 10px;
    }

    &.projetPerso {
      a {
        clip-path: none;
        background: none;
        padding: 0;

        img {
          width: 50px;
          height: 50px;
        }

        &:hover {
          background: none !important;
        }
      }
    }
  }

  &:nth-child(odd) {
    text-align: right;

    .texte {
      justify-content: end;
    }
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-top: 20px;
}